<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="repositoryOwner" value="philips-internal" />
		<add key="repositoryName" value="av-apps" />
		<add key="personalAccessToken" value="token" />
		<add key="numberOfPullRequests" value="50" />
		<add key="numberOfPeopleInTheTeam" value="12" />
		<add key="lastNDays" value="12" />
	</appSettings>
</configuration>